<tr>
    <td colspan="2">
        <p>Esta es una notificación preventiva.</p>
        <p>Para información adicional, comuníquese con: {{{correoAdmin}}}</p>
        <p><br /></p>
    </td>
</tr>
<tr>
    <td>
        <p><br />Coordialmente,<br /><br /><br />
            <b>Departamento de Desarrollo Tecnológico</b>
            <br /><br />
        </p>
    </td>
    <td style="text-align: right; ">
        <a href="www.fundaciondelamujer.com">
            <img src="{{{rutaEstilos}}}img/icon_mail.png" border="0" />
        </a>
    </td>
</tr>