<tr>
    <td colspan="2">
        <p>
            <img style="vertical-align: bottom;" src="{{{rutaEstilos}}}img/bullet_tit.png" />
            <span style="color: rgb(135,33,117); font-weight: bold; font-size: 18px; font-family: Arial; margin-top: 10px;">Notificaciones Movilízate</span>
        </p>
        <p style="font-style: italic;">{{{fecha}}}</p>
        <p>Buen día</p>

        <p>Apreciado usuario </p>
    </td>
</tr>